= render '/search', model:'event'

%h1
  Listing events
  %small= link_to 'New Event', new_event_path

%table.table.table-striped#events
  %thead
    %tr
      %th #
      %th Title
      %th About
      %th Games played
      %th City
      - if @loc && @errors.empty?
        %th City
      %th Start
      %th Finish
  %tbody
    - strf = '%-m/%-d/%y %l:%M %p'
    - @events.each_with_index do |event,index|
      - game_ids = event.preloaded_game_ids
      %tr{id: "event_#{event.id}", "data-game-id" => game_ids.join(',')}
        %td= index + 1
        %td= link_to event.title, event
        %td= event.about
        %td
          - if game_ids.any?
            - game = @games.find {|g| g.id == game_ids.first}
            = link_to game.name, game
            - if game_ids.length > 1
              - count = game_ids.length - 1
              - word = count > 1 ? 'others' : 'other'
              \& #{link_to "#{count.to_s} #{word}...", '#', class: 'moar_games tip', title: "Load the #{word}"}
        %td
          - if event.city
            = link_to event.city, events_path(zip: event.zip)
          - else
            unknown

        - if @loc && @errors.empty?
          %td
            - if event.city
              = event.distance.round
              miles
            - else
              unknown

        - if @invite_group
          %td
            - if user.id != current_user.id
              - if user.already_invited
                invited...
              - else
                = link_to "Invite", @invite_group, class: 'invite'

        %td= event.start_time.strftime(strf)
        %td= event.finish_time.strftime(strf)

:javascript
  $(function () {
    var games = new App.GameList(#{@games.to_json(except:[:created_at, :updated_at])}, {options:true})

    new App.SearchView({
      games: games,
      selected_game_ids: #{@selected_games.map {|g| g.id }}
    });

    new App.GroupsView({
      current_user_id: #{user_signed_in? ? current_user.id : "null"},
      games:games
    });
  })
